:root {
  --overall-1: #f9f9f9;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--overall-1);
}
body {
  background: linear-gradient(to left, #dcdcdc, #a0a0a0, #d4a373);
}
main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  width: 70%;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  padding: 2%;
}
.container:hover {
  box-shadow: 12px 12px 12px rgb(0, 0, 0, 0.3),
    -12px -12px 12px rgba(255, 255, 255, 0.3);
}
.container h1 {
  text-align: center;
  font-weight: 500;
  letter-spacing: 5px;
  font-size: 40px;
}
.card {
  box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.3),
    -5px -5px 5px rgba(255, 255, 255, 0.3);
  margin: 20px auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px 0;
  width: 90%;
  flex: 1 1 auto;
}
.card p {
  font-size: 25px;
  font-weight: 400;
  letter-spacing: 3px;
}
.card input {
  padding: 10px 100px;
  border: 3px solid rgba(0, 0, 0, 0.155);
  border-radius: 10px;
  background-color: transparent;
  text-align: center;
  font-size: 17px;
  letter-spacing: 2px;
}
#faranhiet,
#kelvin {
  display: none;
}
button {
  background-color: transparent;
  padding: 10px 40px;
  width: 200px;
  border: 1px solid rgba(0, 0, 0, 0.155);
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 2px;
  border-radius: 7px;
  margin: auto 20px;
  cursor: pointer;
}
button:hover {
  border: none;
  background-color: #d4a37368;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
@media (max-width: 1310px) {
  main {
    padding: 2%;
  }
  .container {
    width: 100%;
    gap: 20px 0;
    padding: 50px;
  }
  .card input {
    padding: 10px 50px;
  }
  .card {
    margin: 15px auto;
    padding: 15px 0;
    width: 100%;
    flex: 1 1 auto;
  }
}
@media (max-width: 765px) {
  .container {
    width: 100%;
    gap: 10px 0;
    padding: 20px;
  }
  .container h1 {
    font-size: 35px;
  }
  .card input {
    padding: 7px 40px;
  }
  .card {
    margin: 15px auto;
    padding: 10px;
    width: 100%;
    flex-direction: column;
  }
  .card input {
    margin: 15px auto;
    padding: 10px;
    width: 100%;
    flex-direction: column;
  }
  .card p {
    font-size: 20px;
  }
  button {
    width: 100%;
  }
  #back {
    width: 70%;
  }
}
